body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #111213;
    color: #E7ECF0;
}

header {
    margin: 0px auto 12px auto;
    padding: 0px;
    text-align: center;
}

section {
    margin: auto;
    padding: 12px 0 12px 0;
    background-color: #222324;
}

footer {
    margin: 12px auto 0px auto;
    padding: 0px;
    text-align: right;
    background-color: #111213;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

section > div {
    width: fit-content;
    margin: auto;
    position: relative;
}

iframe.scratch {
    display: block;
    margin: auto;
}

button.requestFullscreen {
    background: transparent;
    border-radius: 12px;
    position: absolute;
    opacity: 0.7;
    top: 9px;
    left: 84px;
}

button.showSource {
    background: #7CB1FB;
    color: white;
    border-radius: 12px;
    position: absolute;
    top: 9px;
    right: 84px;
}

button.loadGamefile {
    background: #46B26C;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 5px;
    right: 156px;
    height: 34px;
}

button.editGamefile {
    background: #4D97FF;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 5px;
    right: 8px;
    height: 34px;
}

@media screen and (min-width: 800px) {
    body > * {
        width: 800px;
    }
    iframe.scratch {
        width: 485px;
        height: 402px;
    }
}

@media screen and (max-width: 800px) {
    body > * {
        width: 100%;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    iframe.scratch {
        width: 100vw;
        height: 83vw;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    iframe.scratch {
        width: 120vh;
        height: 100vh;
    }
}
